#studentData {
  margin: 30px;
}

#studentData > section {
  margin-bottom: 20px; /* Space between sections */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
