#colleges {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  /* border: 2px solid red; */
}


#college_card {
  height: auto;
  width: 20%;
  box-shadow: 0px 0px 10px gray;
  align-content: center;
}
