* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#main {
  /* padding: 0px;
  margin: 0; */
  box-shadow: 0px 0px 100px black;
  border-radius: 50px;
}

#header {
  height: 80px;
  width: 100%;
  /* border: 2px solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 550px;
  /* border-radius: 100px 100px 0px 0px; */
}

#navlinks {
  height: 50px;
  width: 30%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navlinks > a {
  text-decoration: none;
  color: black;
}
